.search-bar{
  margin: 20px;
  text-align: center;
}
.search-bar input{
  width: 75%;
  border-radius: 4px;
  outline: none;
  padding: 5px;
}

.video-item img{
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.list-group-item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #eee;
}
